.footer
    .footer__logo 
        img(src='/img/logo-green.png' alt='Natours logo')
    ul.footer__nav 
        li: a(href='#') About Us
        li: a(href='#') Download App
        li: a(href='#') Become a Guide
        li: a(href='#') Careers
        li: a(href='#') Contract
    p.footer__copyright &copy; by MD. Robiul Islam. All rights reserved
